<%- include('partials/header') -%>
<!-- main container with objective measurements and outcome container -->
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div class="mt-5">
          <form action="/measurement/createMeasurement"  method="POST">
                         
<!-- ropdown for selecting the exercise series -->
              <select id="exerciseSeries" name="exerciseSeries" onchange="updateExercises()">
                <option value="" selected disabled>Select Series</option>
                <option value="initial">Initial Assessment</option>
                <option value="flexion">Flexion</option>
                <option value="extension">Extension</option>
                <option value="lateral">Lateral</option>
                <option value="lateral-rotation">Lateral-Rotation</option>
              </select>

          
 <!--Dropdown for specific exercises, to be filled dynamically -->
                  <select id="specificExercise" name="exerciseGiven" required></select>
              <input type="text" name="patient_Id" required placeholder="Enter Patient ID">
              <input type="submit" value="Submit Data">
 <!--Objective Measurement Table --> 
              <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Maj</th>
                            <th>Mod</th>
                            <th>Min</th>
                            <th>Nil</th>
                            <th>Pain</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Flexion</td>
                            <td><input type="radio" name="rom_flexion" value="major"></td>
                            <td><input type="radio" name="rom_flexion" value="moderate"></td>
                            <td><input type="radio" name="rom_flexion" value="minimum"></td>
                            <td><input type="radio" name="rom_flexion" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                        <tr>
                            <td>Extension</td>
                            <td><input type="radio" name="rom_extension" value="major"></td>
                            <td><input type="radio" name="rom_extension" value="moderate"></td>
                            <td><input type="radio" name="rom_extension" value="minimum"></td>
                            <td><input type="radio" name="rom_extension" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                        <tr>
                            <td>Right Side Glide</td>
                            <td><input type="radio" name="rom_rightglide" value="major"></td>
                            <td><input type="radio" name="rom_rightglide" value="moderate"></td>
                            <td><input type="radio" name="rom_rightglide" value="minimum"></td>
                            <td><input type="radio" name="rom_rightglide" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                        <tr>
                            <td>Left Side Glide</td>
                            <td><input type="radio" name="rom_leftglide" value="major"></td>
                            <td><input type="radio" name="rom_leftglide" value="moderate"></td>
                            <td><input type="radio" name="rom_leftglide" value="minimum"></td>
                            <td><input type="radio" name="rom_leftglide" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                    </tbody>
              </table>
            </form>
      </div>
    </div>
     
<!-- Outcome container - right of Measurement Table -->
      <div class="col-6">
        <% if (outcome) { %>
          <div class="outcome-container">
            <img src="/images/<%= outcome.color %>Light.png" alt="<%= outcome.color %> traffic light">
            <h3><%= outcome.message %></h3>
          </div>
        <% } %>
      </div>
  </div>
    
<!-- login email/user and logout button -->
      <div class="footer user-details">
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
        
</div>

<script src="/scripts/scripts.js"></script>

<%- include('partials/footer') -%>